body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0 8px;
    padding-bottom: 50px;
}

/* .logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 30px;
} */

.header h1 {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 100px;
}

.header-ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 10px;
    font-size: 18px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    color: #3882f6;
    transition: ease-in .3s;
}

/* HERO */

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.hero-main {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.text {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    margin: 40px 200px 20px 100px;
    width: 350px;
    height: 100px;
    justify-content: space-between;
}

.subtext {
    margin-left: 100px;
    /* margin-right: 300px; */
    width: 350px;
    height: 65px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn {
    /* padding: 5px 15px; */
    background-color: #3882f6;
    border: none;
    margin: 0 200px 0 100px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    color: #f9faf8;
}

.btn:hover {
    cursor: pointer;
    background-color: #e5e7eb;
    transition: ease-in .3s;
    color: #1f2937;
}

.hero-img {
    align-items: center;
    display: flex;
    width: 23%;
    height: auto;
    margin-right: 100px;
    margin-bottom: 30px;
}

/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
}

.content-header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.content-main {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
}

.content-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-img {
    width: 140px;
    height: 90px;
}

.content-text {
    text-align: center;
    width: 120px;
    font-size: 14px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    width: 770px;
}

.quote h3 {
    margin-left: 500px;
}

.cta {
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    width: 840px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 60px auto 60px 200px;
    border-radius: 5px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}

.cta-text h2 {
    margin-bottom: 5px;
}

.cta-text p {
    margin-top: 5px;
}

.signup-btn {
    background-color: #3882f6;
    border-color: #e5e7eb;
    width: 90px;
    height: 35px;
    border-style: solid;
    border-radius: 5px;
    color: #f9faf8;
    align-self: center;
    margin-left: 70px;
}

.signup-btn:hover {
    background-color: #f9faf8;
    border-style: none;
    color: #3882f6;
    transition: ease-in 0.3s;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding-top: 30px;
    padding-bottom: 30px;
}